@font-face {
  font-family: "Evogria";
  src: url("./fonts/Evogria.otf");
}
@font-face {
  font-family: "Evogria Italic";
  src: url("./fonts/Evogria Italic.otf");
}
@font-face {
  font-family: "DS-Digital";
  src: url("./fonts/DS-DIGI.TTF");
}
@font-face {
  font-family: "DS-Digital-Bold";
  src: url("./fonts/DS-DIGIB.TTF");
}

* {
  /* border: 1px dotted lightyellow; */
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: Evogria, sans-serif;

  font-weight: 400;
  color: #fff;
  -ms-overflow-style: "none";
  scrollbar-width: "none";
}

body::-webkit-scrollbar {
  display: "none";
}

h2 {
  font-size: 48px;
  font-family: "Evogria Italic", sans-serif;
  line-height: 60px;
  margin: 0 auto 18px;
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Evogria Italic", sans-serif;
  line-height: 32px;
  margin: 0 0 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

.desc {
  font-size: 18px;
  line-height: 30px;
}

.menu {
  background: #000;
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: sticky;
}

.hero-bg {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 60vw;
  background: url("/assets/bg-hero.png") center top;
  background-size: cover;
}

.navbar {
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 20px;
}
.navbar .burger,
.navbar .closeButton {
  width: 70px;
  height: 70px;
  display: none;
  justify-content: center;
  align-items: center;
}

.navbar a {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* .navbar a:hover {
  text-decoration: underline;
  color: #7ae7ff;
} */
.navbar .icons-div {
  display: flex;
  gap: 27px;
}
.navbar .icons {
  display: flex;
  /* gap: 27px; */
}
.navbar .icons a {
  margin: 0 14px 0;
}
/* Fix Safari */
.hero {
  max-width: 1290px;
  margin: 115px auto 142px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero .robot {
  background-image: url("./robot.png");
  width: 567px;
  height: 567px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
  flex-shrink: 0;
  background-size: cover;
}

.hero .robot .block {
  width: 113px;
  height: 113px;
  border: 1px solid #ffffff;
  opacity: 0.2;
}

.hero .robot .corner {
  position: absolute;
  width: 29px;
  height: 29px;
}
.hero .robot .corner.right-top {
  right: 0;
  top: 0;
  border-right: 5px solid #7ae7ff;
  border-top: 5px solid #7ae7ff;
}
.hero .robot .corner.right-bottom {
  right: 0;
  bottom: 0;
  border-right: 5px solid #7ae7ff;
  border-bottom: 5px solid #7ae7ff;
}
.hero .robot .corner.left-top {
  left: 0;
  top: 0;
  border-left: 5px solid #7ae7ff;
  border-top: 5px solid #7ae7ff;
}
.hero .robot .corner.left-bottom {
  left: 0;
  bottom: 0;
  border-left: 5px solid #7ae7ff;
  border-bottom: 5px solid #7ae7ff;
}
.hero .text {
  padding-left: 30px;
}
.hero .text .heading {
  font-size: 72px;
  font-family: "Evogria Italic", sans-serif;
  line-height: 88px;
  margin-bottom: 28px;
  max-width: 600px;
}
.hero .text .desc {
  max-width: 534px;
  margin-bottom: 49px;
}
.hero .text .button {
  width: 296px;
  height: 60px;
  background: #7ae7ff;
  clip-path: polygon(0 0, 0 50px, 14px 100%, 100% 100%, 100% 10px, 282px 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-transform: uppercase;
  border-width: 1px;
}
/* .hero .text .button:hover { */
/* -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-color: "#7ae7ff";
  background-color: "#7ae7ff";
  box-shadow: 0 0 0 2rem #7ae7ff;
  transform: scaleX(1.015); */
/* border-width: 2px; */
/* } */

.airdrop {
  height: 989px;
  position: relative;
  padding-top: 100px;
}
.airdrop .stars-left {
  position: absolute;
  top: 210px;
  left: 0;
  z-index: -2;
}
.airdrop .ufo {
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}
.airdrop .ufo-ellipse {
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}
.airdrop .stars-right {
  position: absolute;
  top: 210px;
  right: 0;
  z-index: -2;
}
.airdrop .ground {
  position: absolute;
  top: 375px;
  left: 0;
  width: 100%;
  height: 33vw;
  z-index: -1;
  background: url("/assets/bg-ground.png") center center;
  background-size: cover;
}
.airdrop .desc {
  width: 360px;
  margin: 0 auto 267px;
  text-align: center;
}
.airdrop .desc.follow {
  margin-bottom: 100px;
}
.airdrop .winners {
  font-family: DS-Digital, sans-serif;
  font-size: 120px;
  line-height: 120px;
  letter-spacing: 0.3em;
  text-align: center;
  margin-bottom: 69px;
}
.airdrop a {
  color: #7ae7ff;
  text-decoration: underline;
}

.airdrop h2 {
  text-align: center;
}

/* tokenomics */
.tokenomics {
  position: relative;
  padding-top: 100px;
  text-align: center;
  padding: auto 20px;
}

.tokenomics h2 {
  text-align: center;
}

.tokenomics .bg {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: -1;
  background-image: url("/assets/bg-tokenomics.png");
  width: 100%;
  height: 100%;

  background-size: cover;
}

.tokenomics .wrapper {
  max-width: 1290px;
  margin: 45px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}

.tokenomics .wrapper .chart {
  flex-basis: 54%;
  min-width: 567px;
  min-height: 567px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  position: relative;
  flex-shrink: 0;
  background-size: cover;
  flex-direction: column;
  padding-top: 4rem;
}

.tokenomics .wrapper .chart .chart-title {
  color: #7ae7ff;
  margin-bottom: 2.5rem;
}

.tokenomics .wrapper .chart .chart-wrapper {
  position: relative;
  max-width: 255px;
  margin-left: auto;
  margin-right: auto;
}

.tokenomics .wrapper .chart .chart-wrapper .percent-30,
.tokenomics .wrapper .chart .chart-wrapper .percent-70 {
  position: absolute;
  width: 195px;
}

.tokenomics .wrapper .chart .chart-wrapper .title {
  font-family: "DS-Digital", sans-serif;
  font-size: 58px;
  line-height: 40px;
  font-weight: 400;
}

.tokenomics .wrapper .chart .chart-wrapper .text {
  font-size: 15px;
  font-weight: 400;
  margin-top: 14px;
}

.tokenomics .wrapper .chart .chart-wrapper .percent-30 {
  text-align: left;
  top: -30px;
  right: -205px;
}

.tokenomics .wrapper .chart .chart-wrapper .percent-70 {
  text-align: right;
  color: #7ae7ff;
  bottom: -40px;
  left: -200px;
}

.tokenomics .wrapper .cards {
  min-width: 500px;
  min-height: 400px;
  text-align: center;
}

.tokenomics .wrapper .cards .nft-supply {
  position: relative;
  width: 530px;
  height: 320px;
  text-align: left;
  margin-bottom: 60px;
}

.tokenomics .wrapper .cards .nft-supply .frame {
  position: absolute;
  top: 0;
  left: 0;
  margin: -45px 0 0 -40px;
  z-index: -1;
}

.tokenomics .wrapper .cards .nft-supply .title h3 {
  font-size: 28px;
}

.tokenomics .wrapper .cards .nft-supply .text {
  display: flex;
  justify-contain: center;
  align-items: center;
  margin-top: 20px;
  width: 495px;
}
.tokenomics .wrapper .cards .nft-supply .icon {
  margin-right: 10px;
}
.tokenomics .wrapper .cards .nft-supply .text .desc {
  font-size: 18px;
  color: #ababab;
}
.tokenomics .wrapper .cards .desc-bottom {
  width: 400px;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* end tokenomics */

/* staking */

.staking {
  max-width: 1290px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.staking .main {
  width: 100%;
  /* height: 522px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.staking .main .card {
  position: relative;
  width: 400px;
  height: 475px;
  text-align: left;
  margin-right: 140px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch;
justify-content: space-between; */
}
.staking .main .card .spacer {
  /* background-color:yellow; */
  /* height: 100%; */
  flex: 1;
  justifyself: "stretch";
  alignself: "stretch";
}

.staking .main .card .frame {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
}

.staking .main .card .title h3 {
  font-size: 28px;
}

.staking .main .card .text {
  display: flex;
  justify-contain: center;
  align-items: center;
  margin-top: 20px;
  width: 310px;
}
.staking .main .card .icon {
  margin-right: 10px;
}
.staking .main .card .text .desc {
  font-size: 18px;
  color: #ababab;
}
.staking .main .card .desc-bottom-title {
  font-size: 18px;
  margin-bottom: 14px;
}

.staking .main .info-cols {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.staking .main .info-1,
.staking .main .info-2 {
  position: relative;
  min-width: 340px;
  /* height: 280px; */
  /* margin-right: 30px; */

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.staking .main .info-1 .title,
.staking .main .info-2 .title {
  margin-bottom: 0px;
  text-align: left;
  color: #7ae7ff;
}

.staking .main .info-1 .text {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.staking .main .info-2 .level {
  display: flex;
  justify-content: start;
  margin-top: 8px;
  height: 60px;
}

.staking .main .info-2 .level .percent {
  font-family: DS-Digital, sans-serif;
  font-size: 58px;
  margin-right: 8px;
}
.staking .main .info-2 .level .desc {
  text-align: left;
  height: 60px;
}
.staking .main .info-2 .level .desc .desc1 {
  color: #7ae7ff;
}
.staking .main .info-2 .level .desc .desc2 {
  font-size: 14px;
}

/* end staking */

.nft {
  position: relative;
  padding-top: 100px;
}
.nft .bg {
  position: absolute;
  left: 0;
  top: -42px;
  z-index: -1;
  background-image: url("/assets/bg-nft.png");
  width: 100%;
  height: 100%;
}
.nft .wrapper {
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.nft .wrapper .text {
  flex-basis: 45%;
}
.nft .wrapper .text h2 {
  width: 405px;
  text-align: left;
  margin-bottom: 250px;
}
.nft .wrapper .cards {
  height: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nft .wrapper .cards .card {
  position: relative;
  padding: 41px 20px 0;
  width: 273px;
  margin: 0 32px 32px 0;
}

.nft .wrapper .cards .card .icon {
  margin-left: 6px;
}
.nft .wrapper .cards .connect-wallet .icon,
.nft .wrapper .cards .list-nft .icon {
  margin-bottom: 32px;
}
.nft .wrapper .cards .create-nft .icon {
  margin-bottom: 26px;
}
.nft .wrapper .cards .create-collection .icon {
  margin-bottom: 23px;
}

.nft .wrapper .cards .card .desc {
  color: #ababab;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 12px;
}
.nft .wrapper .cards .connect-wallet {
  height: 299px;
  padding: 41px 20px 0;
  margin-top: 70px;
}
.nft .wrapper .cards .connect-wallet .frame {
  position: absolute;
  top: 0;
  left: 0;
  margin: -57px 0 0 -60px;
  z-index: -1;
}
.nft .wrapper .cards .create-nft {
  height: 396px;
  background-image: url("/assets/frame-create-nft.svg");
}

.nft .wrapper .cards .create-collection {
  height: 340px;
  background-image: url("/assets/frame-create-collection.svg");
}
.nft .wrapper .cards .list-nft {
  height: 348px;
  background-image: url("/assets/frame-list-nft.svg");
}

.roadmap {
  display: flex;
  justify-content: space-between;
  height: 950px;
  align-items: center;
}
.roadmap .main {
  width: 1290px;
  height: 747px;
  position: relative;
  padding: 109px 0 0 65px;
}
.roadmap .main .grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.roadmap .main h2 {
  margin-bottom: 17px;
}
.roadmap .main .desc {
  margin-bottom: 68px;
  width: 350px;
  font-size: 15px;
  line-height: 24px;
}
.roadmap .main .cards {
  display: flex;
}
.roadmap .main .cards > div {
  padding: 36px 20px 0 26px;
  width: 361px;
  background-repeat: no-repeat;
}
.roadmap .main .cards .q1 {
  background-image: url("./roadmap-frame-small.svg");
  height: 193px;
}
.roadmap .main .cards .q2 {
  background-image: url("./roadmap-frame-big.svg");
  margin: 50px 35px 0 50px;
  height: 263px;
}
.roadmap .main .cards .q3 {
  background-image: url("./roadmap-frame-small.svg");
  margin-top: 100px;
  height: 193px;
}
.roadmap .main .cards .item {
  display: flex;
  gap: 7px;
  margin-top: 25px;
  color: #ababab;
}

.partners {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 151px;
}
.partners .bg {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 50vw;
  background-image: url("/assets/bg-partners.png");
  background-size: cover;
}

.partners .subwallet {
  margin: 0 50px 0 130px;
  /* new partner edit */
  width: 316px;
  height: 137px;
  background: url("/assets/partners-grid-subwallet.svg") no-repeat center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners .ventures32 {
  width: 316px;
  height: 137px;
  background: url("/assets/partners-grid-subwallet.svg") no-repeat center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  padding-top: 100px;
}
.team h2 {
  text-align: center;
}
.team .desc {
  margin-bottom: 24px;
  text-align: center;
}

.team .carousel-wrapper {
  max-width: 1290px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.team .carousel-wrapper .arrow {
  width: 36px;
  height: 56px;
  background: url("/assets/icon-arrow.svg") no-repeat center center;
  position: absolute;
  top: 89px;
  cursor: pointer;
  z-index: 1;
}
.team .carousel-wrapper .left {
  left: 10px;
}
.team .carousel-wrapper .right {
  right: 10px;
  transform: rotate(180deg);
}

.team .carousel {
  display: flex;
  justify-content: center;
  padding-bottom: 194px;
  min-width: 1290px;
  /* min-width: 1806px; */
  transition: all 0.5s ease-in-out;
}
.team .carousel .member {
  width: 258px;
  position: relative;
}
.team .carousel .member .circle {
  position: absolute;
  top: -40px;
  left: -6px;
  background-image: url("/assets/team-jedi-circle.png");
  width: 273px;
  height: 270px;
  z-index: -1;
}
.team .carousel .member img {
  display: block;
  margin: 40px auto 25px;
}
.team .carousel .member img.brian {
  margin: 20px auto 45px;
}
.team .carousel .member .name {
  text-align: center;
  margin-bottom: 10px;
}
.team .carousel .member .position {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #ababab;
}
/* New  */
.team .member {
  margin-top: 26px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.team .member img {
  width: 150px;
  margin-bottom: 28px;
}
.team .member .position,
.team .member .position2 {
  color: #ababab;
  font-size: 15px;
}
.team .member .circle {
  position: absolute;
  top: 6px;
  left: 20px;
  background-image: url("/assets/team-jedi-circle.svg");
  width: 270px;
  height: 270px;
  z-index: -1;
}
.team .team-carousel.team-scrolling-carousel .member .circle {
  position: absolute;
  top: -20px;
  left: -20px;
  background-image: url("/assets/team-jedi-circle.svg");
  width: 270px;
  height: 270px;
  z-index: -1;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.team .team-carousel.team-scrolling-carousel .member {
  position: relative;
}
.team .team-carousel.team-scrolling-carousel .member:hover .circle {
  opacity: 100;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.team .team-carousel.team-scrolling-carousel button {
  display: none;
}

.team .team-carousel {
  position: relative;
}
.team .team-carousel .arrow {
  display: none;
}

.advisors {
  width: 1164px;
  height: 551px;
  margin: 0 auto;
  background-image: url("/assets/advisor-grid.png");
}
.advisors .border {
  background-size: cover;
  height: 14px;
  width: 100%;
}
.advisors .border.top {
  background-image: url("/assets/advisor-border-top.svg");
}
.advisors .border.bottom {
  background-image: url("/assets/advisor-border-bottom.svg");
}

.advisors .main {
  height: 522px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advisors .main .heading {
  width: 311px;
  margin-right: 115px;
  z-index: 1;
}
.advisors .main .persons {
  display: flex;
}
.advisors .main .person.hieu {
  top: -20px;
}
.advisors .main .person.thong {
  background-image: url("/assets/advisor-frame.svg");
}

.advisors .main .person {
  position: relative;
  width: 273px;
  height: 280px;
  margin-right: 30px;
}
.advisors .main .person .mobile {
  display: none;
}
.advisors .main .bg {
  position: absolute;
}
.advisors .main .person.hieu .bg {
  top: -116px;
  left: -120px;
}
.advisors .main .content {
  position: relative;
  z-index: 1;
  padding: 20px;
}
.advisors .main .content img {
  margin-bottom: 26px;
}
.advisors .main .content .name {
  font-family: "Evogria Italic", sans-serif;
  font-size: 24px;
  margin-bottom: 9px;
}
.advisors .main .content .desc {
  font-size: 15px;
  color: #ababab;
}
.advisors .main .content .desc a {
  color: #7ae7ff;
}

.subscribe {
  position: relative;
  padding-bottom: 300px;
}
.subscribe .bg {
  position: absolute;
  margin: auto;
  top: -130px;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/assets/bg-subscribe.png");
  background-position: center top;
}
.subscribe h2 {
  text-align: center;
  margin-bottom: 18px;
  padding-top: 290px;
}
.subscribe .desc {
  text-align: center;
  margin-bottom: 49px;
}
.subscribe .inputs {
  display: flex;
  justify-content: center;
}
input {
  border: 0;
  padding: 20px 18px;
  font-family: Evogria, sans-serif;
  font-size: 16px;
}
input::placeholder {
  font-family: Evogria, sans-serif;
  font-size: 16px;
  color: #666;
}
input:focus {
  outline: none;
}
.subscribe .inputs input {
  width: 414px;
  -webkit-border-radius: 0px;
}
.subscribe .inputs .button,
.subscribe .inputs button {
  width: 148px;
  height: 60px;
  background: #7ae7ff;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10px, 144px 0, 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
  position: relative;
}
.subscribe .inputs button span {
  font-size: 15px;
  font-family: Evogria, sans-serif;
}
.subscribe .inputs .button:before,
.subscribe .inputs button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-right: 14px solid #7ae7ff;
  border-bottom: 10px solid white;
  width: 0;
}
.social {
  display: flex;
  justify-content: center;
  /* gap: 20px; */
  margin-bottom: 60px;
}
.social > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #282828;
  cursor: pointer;
  margin: 0 10px 0;
  /* fix safari  */
}
.social > div:hover {
  background: #7ae7ff;
  box-shadow: 0 0 24px 0 #7ae7ffb2;
}
.social > div .icon {
  width: 27px;
  height: 27px;
}
.social .telegram .icon {
  background: url("/assets/subscribe-telegram.svg") no-repeat center center;
}
.social .telegram:hover .icon {
  background: url("/assets/subscribe-telegram-hover.svg") no-repeat center
    center;
}
.social .twitter .icon {
  background: url("/assets/subscribe-twitter.svg") no-repeat center center;
}
.social .twitter:hover .icon {
  background: url("/assets/subscribe-twitter-hover.svg") no-repeat center center;
}
.social .email .icon {
  background: url("/assets/subscribe-email.svg") no-repeat center center;
}
.social .email:hover .icon {
  background: url("/assets/subscribe-email-hover.svg") no-repeat center center;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.copyright {
  font-size: 15px;
  text-align: center;
  color: #ababab;
  margin-bottom: 80px;
}
.copyright .copyright-break {
  display: none;
}

@media (max-width: 1366px) {
  .hero {
    margin-top: 50px;
  }
  .airdrop > img {
    width: 50%;
  }
  .roadmap {
    justify-content: center;
    height: auto;
  }
  .roadmap > img {
    display: none;
  }
  .partners .bg {
    top: 140px;
  }
}

@media (max-width: 1290px) {
  .hero {
    margin-top: 0;
    margin-bottom: 100px;
  }
  .airdrop .stars-left,
  .airdrop .stars-right,
  .airdrop .ufo,
  .airdrop .ufo-ellipse {
    top: 150px;
  }
  .airdrop .winners {
    font-size: 100px;
  }
  .roadmap {
    height: auto;
  }
  .roadmap .main {
    margin: 0 20px;
    padding-left: 35px;
  }
  .roadmap .main .grid {
    width: 100%;
  }
  .staking .main .card {
    margin: 0 20px;
  }

  .staking .main .card .info-cols {
    margin: 0 20px;
  }

  #staking.staking .main .info-cols {
    margin-right: 20px;
    margin-left: 60px;
  }
}

@media (max-width: 1200px) {
  .staking {
    width: 1190px;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .hero-bg {
    height: 100vw;
  }
  .airdrop {
    height: auto;
  }
  .airdrop .desc.follow {
    margin-bottom: 40px;
  }
  .nft .bg {
    width: 100%;
  }
  .nft .wrapper .cards {
    height: 850px;
  }
  .roadmap {
    padding-top: 100px;
  }
  .roadmap .main {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
  }
  .roadmap .main .grid {
    display: none;
  }
  .roadmap .main h2 {
    text-align: center;
  }
  .roadmap .main .desc {
    margin: 0 auto 40px;
  }
  .roadmap .main .cards {
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }
  .roadmap .main .cards .q2,
  .roadmap .main .cards .q3 {
    margin: 0;
  }
  .partners {
    margin-bottom: 50px;
  }
  .partners .bg {
    top: 100px;
  }
  .team .carousel {
    gap: 0;
  }
  .advisors {
    width: auto;
    margin: 0 24px;
  }
  .advisors .border {
    background-size: contain;
  }
  .advisors .main .heading {
    margin-right: 50px;
  }
}

@media (max-width: 1050px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 7px;
  }
  .navbar .burger,
  .navbar .closeButton {
    display: flex;
  }
  .navbar a {
    display: none;
  }
  .navbar .icons {
    width: 70px;
  }
  .navbar .icons-div {
    width: 70px;
  }
  .menu > a {
    display: block;
    margin-left: 2em;
    font-size: 32px;
    line-height: 56px;
    margin-bottom: 14px;
  }

  .hero {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 45px;
  }
  .hero .robot {
    margin-bottom: 40px;
    width: 327px;
    height: 327px;
  }
  .hero .robot .block {
    width: 65px;
    height: 65px;
  }
  .hero .text {
    padding-left: 0;
  }
  .hero .text .heading {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
  }
  .hero .text .desc {
    margin-bottom: 39px;
  }
  .hero .text .button {
    margin: 0 auto;
  }
  .airdrop {
    padding-top: 45px;
  }
  .airdrop h2 {
    margin-bottom: 9px;
  }
  .airdrop .winners {
    font-family: "DS-Digital-Bold", sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.3em;
  }
  .airdrop .desc.follow {
    margin-bottom: 40px;
  }

  .nft .bg {
    top: 0;
  }
  .nft .wrapper {
    flex-direction: column;
    padding-top: 40px;
  }
  .nft .wrapper .text {
    flex-basis: auto;
  }
  .nft .wrapper .text h2 {
    margin-bottom: 42px;
    width: 270px;
  }
  .nft .wrapper .cards {
    height: auto;
    flex-wrap: nowrap;
    gap: 19px;
  }
  .nft .wrapper .cards .card {
    margin: 0;
    width: 329px;
    display: flex;
    padding: 27px 17px 0 0;
  }
  .nft .wrapper .cards .card .desc {
    font-size: 13px;
  }
  .nft .wrapper .cards .card .icon {
    margin: 0 16px 0 19px;
  }
  .nft .wrapper .cards .card .icon img {
    width: 40px;
    height: 40px;
  }

  .nft .wrapper .cards .connect-wallet .frame {
    margin: 0;
  }

  .nft .wrapper .cards .connect-wallet {
    order: 1;
    height: 131px;
    background-image: url("/assets/frame-mobile-connect-wallet.svg");
  }
  .nft .wrapper .cards .connect-wallet .frame {
    display: none;
  }
  .nft .wrapper .cards .create-collection {
    order: 2;
    height: 178px;
    background-image: url("/assets/roadmap-mobile-frame-big.svg");
  }
  .nft .wrapper .cards .create-nft {
    order: 3;
    height: 196px;
    background-image: url("/assets/frame-mobile-create-nft.svg");
  }
  .nft .wrapper .cards .list-nft {
    order: 4;
    height: 177px;
    background-image: url("/assets/frame-mobile-list-nft.svg");
  }

  .roadmap {
    padding-top: 56px;
  }
  .roadmap .main h2 {
    margin-bottom: 10px;
  }
  .roadmap .main .desc {
    text-align: center;
  }
  .roadmap .main .cards .q1 {
    height: 147px;
    background-image: url("./roadmap-mobile-frame-small.svg");
  }
  .roadmap .main .cards .q2 {
    height: 174px;
    background-image: url("./roadmap-mobile-frame-big.svg");
  }
  .roadmap .main .cards .q3 {
    height: 147px;
    background-image: url("./roadmap-mobile-frame-small.svg");
  }

  .roadmap .main .cards > div {
    width: 330px;
    padding: 27px 0 0 25px;
  }
  .roadmap .main .cards > div h3 {
    margin-bottom: 11px;
  }
  .roadmap .main .cards .item {
    margin-top: 0;
  }
  .roadmap .main .cards .item .text {
    font-size: 13px;
    line-height: 28px;
  }
  .partners {
    padding-top: 54px;
    flex-direction: column;
    gap: 35px;
  }
  .partners .bg {
    top: 0;
    background-size: auto;
    height: 100vw;
    background-position: center top;
  }
  .partners h2 {
    margin-bottom: 10px;
  }
  .partners .heading .desc {
    font-size: 13px;
    line-height: 21px;
  }

  .advisors .main {
    flex-direction: column;
  }
  .advisors .main .heading {
    margin-right: 0;
  }
  .advisors .main .heading h2 {
    margin-bottom: 10px;
  }
  .advisors .main .heading .desc {
    text-align: center;
    margin-bottom: 50px;
  }
  .advisors .main .persons {
    gap: 25px;
  }
  .advisors .main .person.hieu {
    top: 0;
  }
  .advisors .main .person {
    margin-right: 0;
  }

  .subscribe h2 {
    padding-top: 170px;
  }

  .tokenomics .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  /* .tokenomics .wrapper .chart,
  .tokenomics .wrapper .chart .chart-wrapper {
    width: 380px;
  } */

  /* .tokenomics .wrapper .chart .chart-wrapper .frame,
  .tokenomics .wrapper .chart .chart-wrapper .percent-70,
  .tokenomics .wrapper .chart .chart-wrapper .percent-30 {
    width: 335px;
    margin-bottom: 16px;
    text-align: right;
    background-color:yellow;
  } */
  .tokenomics .wrapper .chart .chart-wrapper .percent-30,
  .tokenomics .wrapper .chart .chart-wrapper .percent-70 {
    position: unset;
  }
  .tokenomics .wrapper .chart .chart-wrapper .percent-70 {
    text-align: left;
    padding-left: 16px;
  }

  .tokenomics .wrapper .cards {
    margin-top: 50px;
    width: 360px;
    height: 400px;
  }

  /* .tokenomics .wrapper .cards .nft-supply .frame {
    display: none;
  } */
  .tokenomics .wrapper .cards .desc-bottom,
  .tokenomics .wrapper .cards .nft-supply {
    width: 360px;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .tokenomics .wrapper .cards .desc-bottom {
    padding-left: 0px;
  }

  .tokenomics .wrapper .cards .nft-supply .text {
    display: flex;
    justify-contain: center;
    align-items: center;
    margin-top: 20px;
    width: 340px;
  }

  #staking.staking,
  #staking.staking .main,
  #staking.staking .main .info-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
  }

  #staking.staking .main .info-cols .info-1 {
    margin-bottom: 26px;
  }

  #staking.staking .main .card {
    margin: 0;
  }
  #staking.staking .main .card .frame {
    display: none;
  }
  #partners > div.subwallet {
    margin: 0;
  }

  .tokenomics {
    padding-top: 3rem;
  }

  .tokenomics .wrapper .chart {
    padding-top: 0;
    min-width: 20rem;
    min-height: 20rem;
  }
}

@media (max-width: 600px) {
  .desc {
    font-size: 13px;
    line-height: 21px;
  }
  .hero-bg {
    background-image: url("/assets/bg-hero-mobile.png");
    height: 217vw;
  }
  .hero .text .desc {
    width: 310px;
  }
  .airdrop h2 {
    width: 340px;
  }
  .airdrop > img {
    width: 100%;
  }
  .airdrop .stars-left {
    top: 110px;
  }
  .airdrop .stars-right {
    top: 300px;
  }
  .airdrop .ufo {
    top: 180px;
  }
  .airdrop .ground {
    background-image: url("/assets/bg-ground-mobile.png");
    height: 60vw;
    top: 310px;
  }
  .airdrop .desc {
    width: 300px;
    margin-bottom: 194px;
  }
  .nft {
    padding-top: 0;
  }
  .nft .bg {
    width: 100%;
    height: 93vw;
    background-image: url("/assets/bg-nft-mobile.png");
    background-size: cover;
  }
  .nft .wrapper .text h2 {
    text-align: center;
    width: 270px;
  }

  .partners .bg {
    top: 210px;
    width: 100%;
    height: 72vw;
    background-image: url("/assets/bg-partners-mobile.png");
    background-size: cover;
  }
  .partners .subwallet {
    width: 327px;
    height: 140px;
    background-size: cover;
  }
  .partners .ventures32 {
    width: 327px;
    height: 140px;
    background-size: cover;
  }
  .partners .subwallet img {
    width: 250px;
  }
  .partners .ventures32 img {
    width: 140px;
  }
  .team {
    padding: 50px 0;
  }
  .team .desc {
    margin-bottom: 37px;
  }
  .team .carousel {
    /*Mobile */
    min-width: 875px;
    /* min-width: 1225px; */
  }
  .team .carousel .member img {
    width: 100px;
  }
  .team .carousel .member .circle {
    display: none;
  }

  .team .carousel .member img.team-brian-nguyen,
  .team .carousel .member img.team-ha-vu,
  .team .carousel .member img.team-frankie-kao,
  .team .carousel .member img.team-albert-tran,
  .team .carousel .member img.team-brian-nguyen,
  .team .carousel .member img.team-j,
  .team .carousel .member img {
    margin: 0 0 14px 0;
  }
  .team .carousel .member {
    width: 175px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .team .carousel .member .name {
    margin-bottom: 3px;
  }
  .team .carousel .member .position {
    font-size: 13px;
    line-height: 21px;
  }

  .advisors {
    height: 468px;
    overflow: hidden;
    padding: 0 24px;
    margin: 0 auto;
    background: none;
  }
  .advisors .wrapper {
    margin: 0 auto;
    background-image: url("/assets/advisor-mobile-grid.png");
    width: 321px;
  }
  .advisors .border {
    height: 6px;
  }
  .advisors .border.top {
    background-image: url("/assets/advisor-mobile-border-top.svg");
  }
  .advisors .border.bottom {
    background-image: url("/assets/advisor-mobile-border-bottom.svg");
  }
  .advisors .main {
    justify-content: flex-start;
    padding: 45px 0 0;
    height: 454px;
  }
  .advisors .main .heading .desc {
    width: 300px;
  }
  .advisors .main .person .mobile {
    display: block;
  }
  .advisors .main .person .desktop {
    display: none;
  }
  .advisors .main .person.thong {
    background: none;
  }
  .advisors .main .person {
    width: 150px;
    height: 218px;
  }
  .advisors .main .content .name {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .advisors .main .content .desc {
    font-size: 13px;
    line-height: 21px;
  }
  .advisors .main .content img {
    width: 70px;
    margin-bottom: 19px;
  }
  .advisors .main .person .bg {
    top: -118px;
    left: -119px;
  }
  .subscribe .bg {
    background-image: url("/assets/bg-subscribe-mobile.png");
    height: 59vw;
    top: 50px;
    background-size: contain;
  }
  .subscribe h2 {
    margin-bottom: 10px;
  }
  .subscribe .inputs input,
  .subscribe .inputs button {
    width: 217px;
    -webkit-border-radius: 0px;
  }
  .subscribe .inputs .button {
    /* width: 120px; */
  }
  .subscribe .inputs input {
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }

  .subscribe .inputs button {
    width: 158px;
  }
  .footer {
    max-width: 400px;
  }
  .FooterMenuMobile {
    margin-top: 24px;
    position: relative;
    max-width: 400px;
  }
  .copyright .copyright-break {
    display: block;
  }
  .copyright {
    margin-bottom: 108px;
  }
  .footer .social {
    margin-bottom: 32px;
  }
  .navbar {
    justify-content: start;
  }

  .navbar .closeButton {
    margin-right: 0.875rem;
  }
  .team .member .circle {
    display: none;
  }

  .team .team-carousel .arrow {
    display: block;
    width: 36px;
    height: 56px;
    background: url("/assets/icon-arrow.svg") no-repeat center center;
    position: absolute;
    top: 89px;
    cursor: pointer;
    z-index: 1;
  }
  .team .team-carousel .left {
    left: -15px;
  }
  .team .team-carousel .right {
    right: -15px;
    transform: rotate(180deg);
  }
  /* 
  .tokenomics .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .tokenomics .wrapper .chart,
  .tokenomics .wrapper .chart .chart-wrapper {
    width: 326px;
  }

  .tokenomics .wrapper .chart .chart-wrapper .frame{
position: relative

  }

  .tokenomics .wrapper .chart .chart-wrapper .frame,
  .tokenomics .wrapper .chart .chart-wrapper .percent-70,
  .tokenomics .wrapper .chart .chart-wrapper .percent-30 {
    width: 8.25rem;
    margin-bottom: 16px;
    text-align: right;
  }
  
  .tokenomics .wrapper .chart .chart-wrapper .percent-30,
  .tokenomics .wrapper .chart .chart-wrapper .percent-70 {
    position: absolute;
  }

  .tokenomics .wrapper .chart .chart-wrapper .percent-70 {
    text-align: left;
    padding-left: 16px;
  }

  
.tokenomics .wrapper .chart .chart-wrapper .percent-30 {
  text-align: left;
  top: -30px;
  right: -205px;
}

.tokenomics .wrapper .chart .chart-wrapper .percent-70 {
  text-align: right;
  color: #7ae7ff;
  bottom: -40px;
  left: -200px;
} */

  .tokenomics .wrapper .chart .chart-wrapper .percent-30,
  .tokenomics .wrapper .chart .chart-wrapper .percent-70 {
    position: absolute;
    /* max-width: 2rem; */
  }
  .tokenomics .wrapper .chart .chart-wrapper {
    position: relative;
  }
  .tokenomics .wrapper .chart .chart-wrapper .frame {
    width: 8.25rem;
    /* margin-bottom: 16px; */
    /* text-align: right; */
  }

  .tokenomics .wrapper .chart .chart-wrapper .percent-70,
  .tokenomics .wrapper .chart .chart-wrapper .percent-30 {
    width: 8rem;
    margin-bottom: 16px;
    text-align: right;
  }

  .tokenomics .wrapper .chart .chart-wrapper .percent-30 {
    /* background-color: "yellow"; */
    text-align: left;
    top: -55px;
    right: -108px;
  }
  .tokenomics .wrapper .chart .chart-wrapper .text {
    margin-top: 0px;
  }
  .tokenomics .wrapper .chart .chart-wrapper .percent-70 {
    text-align: right;
    color: #7ae7ff;
    bottom: -65px;
    left: -108px;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* justify-content:end; */
  }
  .tokenomics .wrapper .chart .chart-wrapper .title {
    font-size: 2rem;
  }
  .tokenomics .wrapper .chart .chart-wrapper .text {
    font-size: 11px;
    width: 8rem;
  }
  .tokenomics .wrapper .cards {
    margin-top: 50px;
    min-width: 330px;
    height: 400px;
  }

  .tokenomics .wrapper .cards .nft-supply .frame {
    display: none;
  }

  .tokenomics .wrapper .cards .nft-supply {
    height: 290px;
    background-image: url(./frame-mobile-nft-supply.svg);
  }

  .staking .main .card {
    height: 290px;
    background-image: url(./frame-mobile-nft-supply.svg);
  }

  .tokenomics .wrapper .cards {
    width: 330px;
  }

  #staking .info-cols .info-1 .text .icon {
    display: none;
  }

  .tokenomics .wrapper .cards .desc-bottom {
    width: 330px;
  }
  .tokenomics .wrapper .cards .nft-supply {
    width: 330px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .tokenomics .wrapper .cards .nft-supply .text {
    display: flex;
    justify-contain: center;
    align-items: center;
    margin-top: 10px;
    width: 300px;
  }

  .tokenomics .wrapper .cards .nft-supply .text .desc {
    font-size: 13px;
  }
  .tokenomics .wrapper .cards .nft-supply .title h3 {
    font-size: 18px;
  }

  #staking.staking .main .card .desc-bottom-title {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  #staking.staking,
  #staking.staking .main,
  #staking.staking .main .info-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
  }

  #staking.staking .main .info-cols .info-1 {
    margin-bottom: 26px;
  }
  .staking .main .card {
    width: 330px;
    min-width: 330px;
  }
  #staking.staking .main .card {
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 14px;
    order: 2;
  }

  #staking.staking .main .card .text .desc,
  #staking.staking .main .card .desc-bottom-text {
    font-size: 13px;
  }
  #staking.staking .main .card .desc-bottom-text {
    width: 300px;
  }
  #staking.staking .main .card .title h3,
  #staking.staking .main .card .desc-bottom-title {
    font-size: 18px;
  }

  #staking.staking .main .card .frame {
    display: none;
  }
  #partners > div.subwallet {
    margin: 0;
  }

  #staking.staking .main .info-cols {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 330px;
    margin-bottom: 3rem;
    order: 1;
    margin-left: 16px;
    margin-right: 16px;
  }

  #staking.staking .main .info-cols .info-1,
  #staking.staking .main .info-cols .info-2 {
    min-width: auto;
    margin: 0 1rem 0 0.75rem;
    padding: 0;
  }

  #staking.staking .main .info-cols .info-1 {
    margin-right: 0;
  }

  #staking.staking .main .info-1 .text {
    margin-top: 0px;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .staking .main .info-2 .level {
    height: 54px;
  }
  .staking .main .info-2 .level .percent {
    font-size: 3rem;
  }

  #staking.staking .main .card > div {
    margin-left: 12px;
  }
  #staking.staking .main .card .title {
    margin-top: 4px;
  }
  .tokenomics .wrapper .cards .nft-supply > div {
    margin-left: 10px;
  }

  .tokenomics .wrapper .cards .nft-supply .title {
    margin-top: 10px;
  }
  section.subscribe .inputs form button {
    width: 110px;
  }

  .tokenomics .wrapper .chart .chart-title {
     margin-bottom: 4rem;
  }



}

/* Pageclip */
.pageclip-form {
  position: relative;
  display: flex;
}
.pageclip-form__success {
  display: none !important;
  /* position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  text-align: center;
  background: hsla(0, 0%, 100%, 0.8);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}
.pageclip-form__success__message {
  display: none !important;
  /* font-size: 2rem;
  text-align: center;
  transform-origin: center;
  animation: 0.3s linear none a; */
}
.pageclip-form__submit {
  position: relative;
}
.pageclip-form__submit:after {
  display: inline-block;
  position: relative;
  text-indent: -9999em;
  transform: scale(0.01) translateZ(0);
  border: 3px solid hsla(0, 0%, 100%, 0.3);
  border-left: 3px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  z-index: 2;
}
.pageclip-form__submit.pageclip-form__submit--dark-loader:after {
  border-color: rgba(0, 0, 0, 0.3);
  border-left-color: #000;
}
.pageclip-form__submit.pageclip-form__submit--start-loading:after {
  animation: 0.1s linear none a;
}
.pageclip-form__submit.pageclip-form__submit--start-loading > span {
  animation: 0.1s linear none c;
}
.pageclip-form__submit.pageclip-form__submit--loading:after {
  transform: translateZ(0);
  animation: 1.2s linear infinite d;
}
.pageclip-form__submit.pageclip-form__submit--loading > span {
  opacity: 0;
}
.pageclip-form__submit.pageclip-form__submit--end-loading:after {
  animation: 0.1s linear none b;
}
.pageclip-form__submit.pageclip-form__submit--end-loading > span {
  animation: 0.1s linear reverse c;
}

@keyframes a {
  0% {
    transform: scale(0.01) translateZ(0);
  }
  50% {
    transform: scale(1.2) translateZ(0);
  }
  to {
    transform: scale(1) translateZ(0);
  }
}
@keyframes b {
  0% {
    transform: scale(1) translateZ(0);
  }
  to {
    transform: scale(0.01) translateZ(0);
  }
}
@keyframes c {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes d {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

/* Menu AniUnderline */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation:hover {
  color: #7ae7ff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #7ae7ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* END Menu AniUnderline */
.icons-animation {
  border-radius: 100%;
}
.icons-animation:hover {
  background-color: #7ae7ff;
  border-radius: 100%;
  color: #020722;
  box-shadow: 0 4px 4px rgba(102, 255, 182, 0.3);

  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.icons-animation:hover img {
  filter: invert(0.95);
}

.button.button-animation:hover {
  transform: scale(1.025) rotate(0.22deg);
  color: #fff;
  border-color: #7ae7ff;
  background-color: #58a0af;
  box-shadow: 0 0 0 0.2rem #004bff;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* 
.card.card-animation:hover {
  box-shadow: 4px 1px 13px rgba(88, 155, 217, 0.4); 
   z-index: -10;
} */
.nft .wrapper .cards .connect-wallet:hover,
.nft .wrapper .cards .create-nft:hover,
.nft .wrapper .cards .create-collection:hover,
.nft .wrapper .cards .list-nft:hover {
  background-color: rgba(88, 155, 217, 0.4);
  border-radius: 12px;
  box-shadow: -3px -2px 22px 25px rgba(88, 155, 217, 0.4);
  transform: scale(1.025) rotate(0.62deg);
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.team .member img:hover {
  background-color: rgba(88, 155, 217, 0.4);
  border-radius: 100%;
  box-shadow: 0px 0px 28px 8px rgba(88, 155, 217, 0.4);
  transform: scale(1.085);
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
